/*kursenko*/
* {
    padding: 0px;
    margin: 0px;
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
}

header {
    width: 100%;
    height: auto;
    position: relative;
    margin-left: 50%;
    left: -50%;
    background: white !important;
    overflow: hidden;
}

.center_title {
    width: 80%;
    height: auto;
    margin: auto;
    left: 10%;
    position: absolute;
    z-index: 2;
}

.head {
    width: 100%;
    height: auto;
    z-index: 4;
    padding-top: 3%;
    clear: both;
    display: inline-block;
}

.head > h1 {
    width: 20%;
    min-width: 120px;
    height: auto;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2rem;
    float: left;
    padding-top: 1rem;
}

.head > figure {
    width: 10%;
    min-width: 130px;
    height: auto;
    text-align: center;
    float: right;
    margin-top: 1.2rem;
}

.head > figure > img {
    width: 25%;
    min-width: 26px;
    max-width: 26px;
    height: auto;
    display: block;
    float: left;
}

.head > figure > span {
    width: 8rem;
    height: auto;
    margin-top: 0.2rem;
    font-size: 18px;
    font-weight: 600;
    display: block;
    float: right;
    text-align: center;
    line-height: 2rem;
}

.banner_mp4 {
    width: 80%;
    height: auto;
    margin: auto;
  }

.title {
    width: 100%;
    height: auto;
    margin: 6% 2% auto 2%;
}

.title > strong {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 14rem;
    color: #000;
    display: inline-block;
    text-transform: capitalize;
}

.title > h2 {
    font-size: 12rem;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.4rem;
}

.oval {
    width: 20px;
    height: 40px;
    border-radius: 10px;
    border: 3px solid #000;
    float: left;
    margin-left: 50%;
    left: -10px;
    margin-top: 12rem;
    position: absolute;
    z-index: 30;
}

.drop {
    width: 0px;
    height: 7px;
    list-style: none;
    border: 2px solid black;
    border-radius: 8px;
    display: block;
    margin-left: 42%;
    margin-top: 6px;
    -webkit-animation: dropmove 2s infinite;
    -o-animation: dropmove 2s infinite;
    animation: dropmove 2s infinite;
    transition: all 1s linear;
}

@keyframes dropmove {
    0% {
        margin-top: 6px;

    }
    10% {
        margin-top: 7px;
    }
    20% {
        margin-top: 8px;
    }
    30% {
        margin-top: 9px;
    }
    40% {
        margin-top: 10px;
    }
    50% {
        margin-top: 11px;
    }
    60% {
        margin-top: 10px;
    }
    70% {
        margin-top: 9px;
    }
    80% {
        margin-top: 8px;
    }
    90% {
        margin-top: 7px;
    }
    100% {
        margin-top: 6px;
    }

}

/*头部bannerEnd*/
/*第二部分，lady*/
.second_part {
    width: 100%;
    height: auto;
    background: #1c1d1c url("../../img/kursenko/hfs-bg-xlg.jpg") no-repeat center center;
    background-size: cover;
    color: white;
    padding-bottom: 6%;
}

.tit {
    font-size: 6rem;
    text-transform: uppercase;
}

.titl_discri {
    padding-top: 4%;
    font-weight: lighter !important;
    font-size: 24px;
    line-height: 40px;
}

.skip {
    width: 47%;
    min-width: 180px;
    border: 2px solid white;
    text-align: center;
    border-radius: 4rem;
    margin-top: 6%;
    cursor: pointer;
}

.skip > span {
    display: inline-block;
    padding-top: 7.5%;
    padding-bottom: 7.5%;
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
}

.skip:hover {
    -webkit-transition: all 0.2s linear !important;
    -moz-transition: all 0.2s linear !important;
    -ms-transition: all 0.2s linear !important;
    -o-transition: all 0.2s linear !important;
    transition: all 0.2s linear !important;
    background: white;
    color: #333333;
}

.content_sec {
    width: 74%;
    height: auto;
    margin: auto;
    padding-bottom: 8%;
}

/*内容包裹的div*/
.content_div {
    width: 30%;
    min-width: 500px;
    height: auto;
    display: inline-block;
    margin-top: 20%;
}

/*移入btn效果*/

/*第三部分*/
.third_part {
    width: 100%;
    height: auto;
    background: #1c1d1c url("../../img/kursenko/hoteza_app_bg.jpg") no-repeat center center;
    background-size: cover;
    color: white;
    padding-bottom: 6%;
    position: relative;
    overflow: hidden;
}

.th_content {
    position: relative;
    left: 50%;
    margin-left: -37%;
    display: inline-block;
}

.fltR {
    display: inline-block;
    float: right;
}

.th_tit {
    text-transform: uppercase;
    font-size: 4.4rem;
    font-weight: 700;
    color: #333;
}

.th_phone {
    width: 46%;
    min-width: 500px;
    min-height: 600px;
    height: auto;
    position: absolute;
    bottom: 0px;
    left: 2%;
    z-index: 10;
}

.th_phone > img {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: auto;
    bottom: 0px;
    position: absolute;
}

.th_titl_discri {
    color: #333333;
}

.th_skip {
    color: #333333;
    border: 2px solid #333333;
}

/*第三部分end*/
/*第四部分*/
.fourth_part {
    width: 100%;
    height: auto;
    background: #1c1d1c url("../../img/kursenko/maxmarine-bg-xlg.jpg") no-repeat center center;
    background-size: cover;
    color: white;
    padding-bottom: 6%;
    position: relative;
    overflow: hidden;
}

/*第四部分end*/
/*第六板块*/
.sixth_part {
    width: 100%;
    height: auto;
    background-color: #212B33;
    color: white;
    padding-bottom: 6%;
    position: relative;
    overflow: hidden;
}

.site {
    display: block;
    width: 128px;
    height: 57px;
    background: url("../../img/kursenko/gold-site.png") no-repeat center center;
    background-size: cover;
    margin-bottom: 21px;
    position: relative;
    z-index: 2;
}

.layer_img {
    width: 50%;
    height: 600px;
    min-width: 260px;
    position: absolute;
    top: 20%;
    right: 2%;
    z-index: 0;
}

.layer-1 {
    width: 100%;
    height: auto;
    position: absolute;
    top: 16rem;
}

.layer-2 {
    width: 100%;
    height: auto;
    position: absolute;
    top: 8rem;
    z-index: 2;
}

.layer-3 {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 3;
}

.lay {
    width: 100%;
}

/*第六板块end*/

/*第七版ceo介绍*/
.seventh_part {
    width: 100%;
    height: auto;
    background: white;
    color: white;
    position: relative;
    z-index: 80;
    color: #333333;
    text-align: center;
}

.se_sec {
    padding-top: 8%;
    display: inline-block;
}

.se_h1 {
    width: 100%;
    height: auto;
    display: inline-block;
    font-size: 48px;
    font-weight: 400;
    opacity: 0;
}

.se_span {
    display: inline-block;
    color: #CAA658;
    font-size: 24px;
    font-weight: 200;
    padding-top: 3%;
    padding-bottom: 3%;
    opacity: 0;
}

.se_p {
    font-size: 24px;
    color: #979797;
    line-height: 3.5rem;
    opacity: 0;
}

.se_name {
    font-size: 20px;
    color: #979797;
    opacity: 0;
    padding-top: 1.6%;
}

.se_h2 {
    font-size: 24px;
    padding-top: 2.6%;
    padding-bottom: 1%;
    opacity: 0;
}

.cr_img {
    width: 69px;
    height: 69px;
    border-radius: 50%;
    margin: 8% auto auto;
    opacity: 0;
}

/*第七版ceo介绍end*/
/*页尾*/
footer {
    width: 100%;
    height: auto;
    background: #1C1C1C;
}

.foo_auto {
    width: 50%;
    height: auto;
    margin: auto;
    text-align: center;
}

.foo_auto > h2 {
    font-size: 44px;
    color: white;
    font-weight: 100;
    padding-top: 10%;
    padding-bottom: 4%;
    display: inline-block;
    opacity: 0;
}

.just_btn > input {
    width: 55%;
    min-width: 220px;
    height: auto;
    background: #ECBE5C;
    border: 1px solid #ECBE5C;
    font-weight: 600;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 24px;
    border-radius: 50px;
    outline: none;
    opacity: 0;
}

.just_btn > input:hover {
    background: #EFC773;
    cursor: pointer;
}

.foo_auto > span {
    display: inline-block;
    font-size: 21px;
    color: #70717e;
    padding-top: 4%;
    padding-bottom: 10%;
    opacity: 0;
}

.th_skip:hover {
    color: white;
    background: #333333;
}

/*滚动条效果预设css*/
.scl_tit, .four_tit, .sixth_ani_tit {
    margin-left: 4%;
    opacity: 0;
}

.scl_titl_discri, .four_titl_discri, .sixth_ani_discri {
    margin-left: -4%;
    opacity: 0;
}

.scl_skip, .four_skip, .sixth_ani_skip {
    margin-left: -4%;
    opacity: 0;
}

/*奇数*/
.thi_ani_tit, .fifth_tit {
    margin-left: -4%;
    opacity: 0;
}

.thi_ani_discri, .fifth_ani_discri {
    margin-left: 4%;
    opacity: 0;
}

.thi_ani_skip, .fifth_ani_skip {
    margin-left: 4%;
    opacity: 0;
}

/*第七版文字效果*/