/*如愿适配*/
@media (max-width: 1585px) {
    .carousel-inner{
        width: 825px;
    }
    .ma-left20{
        margin-left: 2%;
    }
    .core{
        width: 773px;
    }
}
@media (max-width: 1366px) {
    .team-right{
        line-height: 2.4rem;
        font-size: 1.4rem;
        margin-top: 2%;
    }
    .team-left>figure>img{
        width: 534px;
    }
    .map-left{
        width: 360px;
        height: 340px;
        float: left;
    }
}
@media (max-width: 1225px) {
    .map-left{
        width: 300px;
        height: 280px;
        float: left;
    }
    .map-right>ul{
    padding-top: 0px;
    }
    .map-wrap{
        width: 730px;
        margin-left: 50%;
        position: relative;
        left: -365px;
    }
}
@media (max-width: 1188px) {
    .carousel-inner{
        width: 540px;
    }
    .team-left>figure>img{
        width: 480px;
    }
}
@media (max-width: 1022px){
    .team-left>figure>img{
        width: 430px;
    }
    .team-right{
        line-height: 2rem;
        font-size: 1.4rem;
    }
    .core{
        width:636px;
    }
    .core-part{
         min-width: 200px;

     }
    .info-per{
        width: 80%;
        text-align: left;
        font-size: 1.2rem;
        line-height: 2rem;
    }

}
@media (max-width: 918px) {
    .team-left{
        width: 100%;
        height: auto;
    }
    .team-left>figure,.team-left>figure>img{
        width: 100%;
        height: auto;
    }
    .team-right{
        width: 100%;
        border: 1px solid rgba(170, 170, 170, 0.78);
        border-radius: 5px;
        margin-top: 6%;
        box-shadow: 0px 0px 6px #999999;
        padding-top: 8%;
        padding-bottom: 8%;
        line-height: 2.4rem;

    }
    .map-wrap{
        width: 100%;
        margin: 0%;
        position: static;
        left: 0px;
    }

}
@media (max-width: 800px) {
    .carousel-inner{
        width: 265px;
    }
    .core{
        width: 245px;
    }
    .core-part{
        width: 242px;
    }
    .ma-left20{
        margin-left: 0px;
        margin-top: 8%;
    }
    .info-per{
        width: 80%;
        height: auto;
        display: block;
        text-align: left;
        margin: 6% auto 6% auto;
        font-size: 1.4rem;
        color:#7D7A75;
        line-height: 2rem;
    }
    .map-left{
        width: 300px;
        height: 280px;
        float: none;
        margin: auto;
    }
    .map-right{
        width: 300px;
        min-width: 245px;
        height: 300px;
        float: none;
        margin: auto;
        padding-top: 5%;
    }

}
@media (max-width: 375px) {
    .left{
        margin-left: -3%;
    }
    .right{
         margin-right: -3%;
     }
    .carousel-inner {
        width: 220px !important;
    }
    .carousel_part {
        width: 220px !important;
        min-width: 220px;
        height: 400px;
        background-color: white;
        display: inline-block;
        overflow: hidden;
        cursor: pointer;
    }
    .carousel_part > img {
        width: 75%;
        min-width: 4rem;
        margin: 24% 10% 10% 12%;
    }

}
@media (max-width: 420px) {
    .left{
        margin-left: -10px;
    }
    .right{
        margin-right: -8px;
    }
    .map-auto{
        width: 90%;
    }
    .icon-small{
        width: 30px;
        height: 30px;
    }
    .map-right>ul>li>span{
        min-width: 197px;
        left: 14%;
        font-size: 1.4rem;
        margin-left: 5%;

    }
    .line-hei{
        line-height: 25px;
    }
    .map-left{
        width: 245px;
        height: 225px;
    }
    .map-wrap{
       margin: 0px;
    }
    .map-right{
        width: 245px;
        height: 225px;
        margin: auto;
        float: none;
     }

}
@media (max-width: 330px) {
    .left{
        width: 20px;
        margin-left: 10px;
    }
    .right{
        width: 20px;
        margin-right: 10px;
    }
    .carousel {
        width: 100%;
    }
}