
* {
    margin: 0px;
    padding: 0px;
    font-family: "微软雅黑";
    font-weight: 500;
    font-size: 12px;
}

h2 {
    letter-spacing: 2px;
}

body, html {
    background-color: white;
}
/*中间居中部分*/

.pub-main {
    width: 32%;
    min-width: 500px;
    height: auto;
    padding-top: 5%;
    margin-left: -250px;
    position: relative;
    left: 50%;
    padding-bottom: 10%;

}

input {
    width: 320px;
    height: 43px;
    outline: none;
    border: none;
    border: 1px solid #E7E7E7;
    color: #7F7E7E;
    border-radius: 4px;
    text-indent: 10px;
}

/*标题部分*/
.lang {
    width: 100%;
    height: auto;
    color: #333;
    text-align: center;
    margin-bottom: 2%;
}

.lang > img {
    width: 90px;
    height: 90px;
    padding-bottom: 4%;
}

h2 {
    width: 100%;
    height: auto;
    text-align: center;
    color: #999;
    font-size: 18px;
    padding-bottom: 2%;
}

/*表单部分居中*/
.pub-auto {
    width: 80%;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
    background-color: white !important;
    border-radius: 6px;
    border: 1px solid #E7E7E7;
    box-shadow: 0px 0px 10px 0px #999;
    margin-top: 5%;

}

.pub-auto > section {
    width: 80%;
    height: auto;
    max-width: 405px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 4%;
    display: inline-block;
}

/*input包裹部分*/
.pub-input-contact {
    width: 100%;
    height: 43px;
    position: relative;
    clear: both;
    margin-bottom: 20px;
    /*border: 1px solid red;*/
}

/*input中的提示span标签*/
.pub-span {
    width: 310px;
    height: 22px;
    position: absolute;
    display: inline-block;
    font-size: 12px;
    top: 100%;
    left: 12px;
    color: #7F7E7E;
    z-index: 1;
    color: red;
    overflow: hidden;
    text-overflow: ellipsis;
    /*border: 1px solid red;*/
    display: block;
    line-height: 24px;
}

/*。input_text下面的input样式*/
.pub-input {
    background: none;
    position: absolute;
    background-color: transparent;
    z-index: 10;
}

/*按钮样式*/
.pub-btn {
    background: #333;
    border: 2px solid #333;
    cursor: pointer;
    color: white;
    font-size: 16px;
}

.pub-btn:hover {
    transition: all 0.2s linear;
    background: #fff;
    border: 2px solid #333;
    color: #333333;
}

/*a标签样式*/
a {
    color: #333;
    font-size: 12px;
    text-decoration: none;
}

a:hover {
        color: #398DEE;
}

/*页尾部分*/
footer {
    width: 100%;
    height: auto;
    padding: 3.4% 0px 3.4% 0px;
    background: #005757;
    text-align: center;
    color: white;
    line-height: 3rem;
}

footer > aside {
    font-size: 1.3rem;
}

/*间隙调节*/
.ma_top5 {
    margin-top: 5%;
}

.ma_top10 {
    margin-top: 10%;
}

.ma_top20 {
    margin-top: 18%;
}